@page {
  size: A4;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.resume {
  width: 210mm;
  height: 297mm;
  margin: 5px auto;
  /* background-color: #fff; */
  padding: 30px;
  /* border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

.section {
  margin-bottom: 30px;
}

.section:last-child {
  margin-bottom: 0;
}

.section-header {
  display: flex;
  align-items: baseline;
}

.section-header h2 {
  margin-right: 10px;
}

.section-content {
  margin-left: 20px;
}

.section-content ul {
  padding-left: 20px;
  margin-bottom: 10px;
}

.section-content li {
  margin-bottom: 5px;
}

.contact-info {
  display: flex;
  margin-bottom: 20px;
}

.contact-info div {
  margin-right: 20px;
}
.print-button {
  display: inline-block;
}
